<div class="container cocktails-container">
  <div class="page-title"><h1>My favourite cocktails</h1></div>
    <div class="card-grid">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="title-cocktail"><%= cocktail.name %></div>
          <div class="link-cocktail"><%= link_to "+", cocktail_path(cocktail) %></div>
        </div>
      <% end %>
    </div>
  <p><%= link_to "I want to add a new cocktail!", new_cocktail_path %></p>
</div>
